body {
	margin:0;
	min-height: 100vh;
	background-image:url(/resources/img/background.jpg);
    background-size:cover;
    background-attachment:fixed;
}


/* body::after{
	content:"";
	display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image:url(/resources/img/background.jpg);
    background-size:cover;
    background-attachment:fixed;
    width: 100%;
    height: 100%;
    opacity : 0.8;
    z-index: -1;
} */


.logo-img {
	height:1.5em;
	width:auto;
}

.card-container {
	top:50%;
	transform: translateY(-50%);
	position:fixed;
}

.top-nav-collapse {
    background-color: #00bcd4;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #00bcd4;
    }
}

.nav-color {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#01b0cf+0,3eb1ce+16,5abfdb+33,aacede+50,ecd9dd+65,ecd9dd+79,dd758f+100 */
	background: rgb(1,176,207); /* Old browsers */
	background: -moz-linear-gradient(left, rgb(1,176,207) 0%, rgb(62,177,206) 16%, rgb(90,191,219) 33%, rgb(170,206,222) 50%, rgb(236,217,221) 65%, rgb(236,217,221) 79%, rgb(221,117,143) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgb(1,176,207) 0%,rgb(62,177,206) 16%,rgb(90,191,219) 33%,rgb(170,206,222) 50%,rgb(236,217,221) 65%,rgb(236,217,221) 79%,rgb(221,117,143) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgb(1,176,207) 0%,rgb(62,177,206) 16%,rgb(90,191,219) 33%,rgb(170,206,222) 50%,rgb(236,217,221) 65%,rgb(236,217,221) 79%,rgb(221,117,143) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01b0cf', endColorstr='#dd758f',GradientType=1 ); /* IE6-9 */
}
