<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.plsongMapper">
	<insert id="insert">
		insert into pl_songs values(#{playlistId},#{songId})
	</insert>
	<delete id="deleteOne">
		delete from pl_songs where playlistId=#{playlistId} and songId=#{songId}
	</delete>
	<delete id="deleteAll">
		delete from pl_songs where playlistId=#{playlistId}
	</delete>
	<select id="get" resultType="com.stt.domain.SongVO">
		select * from songs a1 right join (select songId from pl_songs where playlistId=#{playlistId}) b1 on a1.uuid=b1.songId
	</select>
</mapper>