<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.songMapper">
	<insert id="insert">
		INSERT INTO SONGS(uuid,title,artist,length,tags) VALUES(#{uuid},#{title},#{artist},#{length},#{tags})
	</insert>
	<select id="getList" resultType="com.stt.domain.SongVO">
		SELECT * FROM SONGS 
		<if test="orderby != null"> <!-- mybatis에선 order by구문에 대해선 preparedStatement파라미터값을 세팅하지 못하도록한다. 이유는 sql인젝션에 노출될 위험이 있기 때문 -->
			ORDER BY 
		</if>
		<choose>
			<when test="orderby eq 'c'">
				COUNT
			</when>
			<otherwise>
				REGDATE
			</otherwise>
		</choose>
		DESC limit #{pageStart},#{numPerPage}
	</select>
</mapper>